
.panel {
    padding-top: 5px;
    padding-bottom: 5px;
}

.panel-items {
    padding-top: 10px;
    padding-bottom: 5px;


}

div.list-group {
    max-height: 480px;
    min-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}
div.list-group-item{
    padding: .25rem 0.75rem;
}